.autocomplete-app {
  width: 500px;
  margin: 100px auto 0;
  position: relative;
}

.autocomplete-app .input-container,
.autocomplete-app li {
  border: 1px solid #008fb2;
}

.autocomplete-app .input-container input {
  outline: none;
  padding: 10px 20px;
  border: none;
  font-weight: 100;
  font-size: 20px;
  width: 80%;
}

.autocomplete-app .input-container span {
  position: absolute;
  right: 10px;
  top: 16px;
  font-size: smaller;
  font-weight: bold;
}

.autocomplete-suggestions {
  border-top: none;
  color: #555;
  font-size: 14px;
  box-shadow: 0 1px 3px #b3b3b3;
  overflow-y: auto;
  max-height: 504px;
}

.autocomplete-suggestions:empty {
  display: none;
}

.autocomplete-suggestions li {
  padding: 10px 20px;
}

.autocomplete-suggestions li.selected,
.autocomplete-suggestions li:hover {
  background: #e2f2f6;
}

.autocomplete-suggestions li:not(:last-child) {
  border-bottom: 1px solid #008fb2;
}

.autocomplete-suggestions li:not(:first-child) {
  border-top: 1px solid #ddd;
}

.autocomplete-suggestions li span.bold {
  font-weight: bold;
}

